---
layout: default
---
	<input type="checkbox" id="chbx4explainer" name="chbx4explainer" />
	<main>
		<header class="banner">
			<h1 class="banner-title"><span class="banner-title-main">DMIE</span>&nbsp;<span class="banner-title-sub">Model</span></h1>
			
			<span class="banner-bg d-gradient"></span>
		</header>
		
		<section class="map">
			{% include components/SVG-map.html %}
		</section>
		
		<nav class="menu">
			<label for="chbx4explainer" class="menu-cta">Start the app</label>
		</nav>
		
		<section class="explainer">
			AAA
		</section>
		
		<!--
		{% include components/resourcesStat.html %}
		-->
	</main>
