---
layout: default
---
		<input type="radio" id="rdb4calculator" name="rdb4app" checked />
		<input type="radio" id="rdb4author" name="rdb4app" />
		{% for i in (1..3) %}
		<input type="radio" id="rdb4paypalDetails{{ i }}" name="rdb4paypalDetails"{% if forloop.first %} checked{% endif %} />{% endfor %}
		<main class="d-midWrap doPaypal">
			<header class="header">
				<hgroup class="header-hgroup">
					<h1 class="header-hgroup-title">DMIE Model</h1>
					<p class="header-hgroup-p">Did you know that you can estimate a country's informal economy with a simple math equation? Discover the DMIE Model.</p>
				</hgroup>
				
				<nav class="header-nav">
					<label for="rdb4calculator" class="header-nav-button is-forCalculator">Calculator</label>
					<label for="rdb4author" class="header-nav-button is-forAuthor">About</label>
				</nav>
				
				<div class="header-research">
					<a href="https://www.paypal.com/ncp/payment/BNTVMR66F7J4Y" class="header-research-a" download>Download PDFs</a>
					<img src="/assets/images/files.png" />
				</div>
			</header>
			
			<section class="section is-forCalculator">
				<hgroup><!--Section Calculator--></hgroup>
				
				<form id="py-form" class="calculator">
					<fieldset class="calculator-data">
						<div class="calculator-data-manual">
							<span>Manual Inputs</span>
							<div class="calculator-data-manual_wrap">

							<div class="js-RDBs-container">
								<label><input type="radio" id="rdb4dataManual1" name="rdb4data" onclick="rdbBtnIsClicked(this)" checked />1</label>
							</div>
							
							<div class="js-manualNav">
								<span class="js-btnAdd" title="Add Additional Country">+</span>
								<span class="js-btnDelete" title="Clear Form/Unsave Data">x</span>
								<!--
								<input type="submit" class="js-btnAdd" value="+" />
								<input type="submit" class="js-btnDelete" value="x" />
								-->
								<input type="submit" class="js-btnSave" value="$" title="Save Country's Data" />
								<span class="js-btnRefresh" title="Clean All Data">@</span>
								<span class="js-btnDownload" title="Download as CSV File">!</span>
								<label for="hiddenFile" class="js-btnImport" title="Upload Custom CSV File">^</label>
								<input type="file" id="hiddenFile" class="js-inputFile" style="display: none !important" accept=".csv" />
							</div>
							</div>
						</div>
						<div class="calculator-data-presets">
							<span>Data Presets</span>
							<br /><br />
							<label><input type="radio" id="rdb4dataPresetDRC" name="rdb4data" onclick="rdbBtnIsClicked(this)" />DRC</label>
							<label><input type="radio" id="rdb4dataPresetSA" name="rdb4data" onclick="rdbBtnIsClicked(this)" />SA</label>

							<span class="calculator-data-presets-map"></span>
						</div>
					</fieldset>
				
					<fieldset class="calculator-fieldset">
						<div>
							<label id="py-output">Country</label>
							<input type="text" id="country" placeholder="Name of Country" required />
						</div><div>
							<label>Year</label>
							<input type="number" id="year" placeholder="####" required />
						</div><div>
							<label>WF (Workforce)</label>
							<input type="number" id="wf" placeholder="########" required />
						</div><div>
							<label>FW (Formal Workers)</label>
							<input type="number" id="fw" placeholder="########" required />
						</div><div>
							<label>IW (Informal Workers)</label>
							<input type="number" id="if" placeholder="########" required />
						</div><div>
							<label>Yof (Official GDP)</label>
							<input type="number" id="yof" placeholder="##########" required />
						</div><div>
							<label>FP (Formal Productivity)</label>
							<input type="number" id="fp" placeholder="###" required />
						</div><div>
							<label>IP (Informal Productivity)</label>
							<input type="number" id="ip" placeholder="###" required />
						</div><div>
							<label>OL (Obligatory Levies / Tax Burden)</label>
							<input type="number" id="ol" placeholder="####" required />
						</div>
					</fieldset>
					
					<nav class="calculator-nav">
						<div>Hello, visitor! You must be logged in to use the DMIE Model's Calculator.</div>
					
						<div>
							<input type="submit" id="js-btnCalculate" class="calculator-nav-button js-btnCalculate" value="CALCULATE" />
							<label class="calculator-nav-label" title="You must be logged in to use the DMIE Model's Calculator">LOG IN TO CALCULATE</label>
						</div>
					</nav>
					
					<div class="calculator-results">
						<div class="calculator-results-design">
							<nav class="calculator-results-design-nav">
								<span class="js-btnResultsDownload">Download as CSV</span><span class="js-btnResultsClose">X</span>
							</nav>
							<div class="js-here"><!--{% for i in (1..7) %}
							<div class="calculator-results-design-data">
								<hgroup>
									<h4>DRC:</h4>
									<h5>2005</h5>
								</hgroup>
								<div class="calculator-results-design-data-numbers">
									<div class="calculator-results-design-data-numbers-lines">
										<div class="calculator-results-design-data-numbers-lines-div"><span class="calculator-results-design-data-numbers-lines-div-span">Yin: 100</span></div>
										<div class="calculator-results-design-data-numbers-lines-div"><span class="calculator-results-design-data-numbers-lines-div-span">Yt: 100</span></div>
									</div>
									<div class="calculator-results-design-data-numbers-pie">
										<span class="calculator-results-design-data-numbers-pie-span">Yin%:<br />90%</span>
									</div>
								</div>
							</div>{% endfor %}-->
							</div>
						</div>
					</div>
				</form>
			</section>
			
			<section class="section is-forAuthor">
				<hgroup>
					<p class="section-hgroup-p">Meet the economist, and researcher behind the <br />DMIE Model's innovation.</p>
					<h2 class="section-hgroup-author">Donatien Malala</h2>
				</hgroup>
				
				<div class="author">
					<p>Donatien Malala is a renowed economist. He worked for the Congolese public transport company ONATRA. He acquired extensive experience in logistics analysis, hinterland transport, port management, human resources, marketing and finance. You can email him at malaladonatien@gmail.com</p>
					<img src="/assets/images/Malala-Donatien.jpg" />
				</div>
			</section>
		
			<footer class="paypal d-cssCentered"><div class="paypal_dock">
				<h5 class="paypal-title">Unlock Full Calculator</h5>

				<div class="paypal-content">
					<p>Description</p>

					<div class="paypal-details"><ol class="paypal-details-list">
						<li class="paypal-details-list-item">
							<label for="rdb4paypalDetails1">(1/3) One-Time Payment, Full Access</label>
							<ul class="paypal-details-sublist">
								<li class="paypal-details-sublist-item">&rarr; Lifetime Access -- no recurring bill, no hidden fees.</li>
								<li class="paypal-details-sublist-item">&rarr; Unlock all calculation features instantly.</li>
								<li class="paypal-details-sublist-item">&rarr; Includes all current and future app updates.</li>
								<li class="paypal-details-sublist-item">&rarr; Use for unlimited datasets and simulations.</li>
							</ul>
						</li>
						<li class="paypal-details-list-item">
							<label for="rdb4paypalDetails2">(2/3) Secured Checkout Powered by PayPal</label>
							<ul class="paypal-details-sublist">
								<li class="paypal-details-sublist-item">&rarr; Immediate access after payment confirmation.</li>
								<li class="paypal-details-sublist-item">&rarr; App compatible with Windows, MacOS, and Web version.</li>
							</ul>
						</li>
						<li class="paypal-details-list-item">
							<label for="rdb4paypalDetails3">(3/3) Access Valid for Personal, or Research Use</label>
							<ul class="paypal-details-sublist">
								<li class="paypal-details-sublist-item">&rarr; Transferable Access option available upon request.</li>
								<li class="paypal-details-sublist-item">&rarr; Academic collaboration or citations are welcome.</li>
								<li class="paypal-details-sublist-item">&rarr; Bulk license discount for research labs or universities.</li>
							</ul>
						</li>
					</ol></div>
				</div>
				
				<div class="paypal-buttons">
					<div class="paypal-buttons-cta_wrap">
						<span>Pay on Paypal</span><br />
						<a href="https://paypal.com" class="paypal-buttons-cta">Unlock Full App</a>
					</div>
					<span class="js-btnCancel">Cancel</span>
				</div>
			</div></footer>
		</main>
		
		<script type="text/javascript" src="/assets/scripts/dmie-model-dot-intobinary-dot-org_new.js"></script>
		<!--
		<script type="text/javascript" src="/assets/scripts/brython.min.js"></script>
		<script type="text/python" src="/assets/scripts/python.py"></script>
		-->