---
layout: default
---
		<input type="checkbox" id="chbx4menu" name="chbx4menu" checked />
		<main>
			<label for="chbx4menu" class="u-btn">Open Menu</label>
		
			<nav>
			<div class="menu"><div>
				<h3 class="menu-title">About Donatien</h3>
				<label for="chbx4menu" class="u-btn">&cross;</label>
				
				<div class="menu-text">
					<p>"Effective design connects people to their space by personalising their experience. Our projects become unique, with an inspirational rather than merely functional identity."</p>
					<p>We are a full-service creative production studio creating and executing one-off designs for our clients. Our studio works across retail, hospitality and corporate portfolios, delivering activations, immersive art experiences, visual merchandising, space transformations, brand and product styling and large-scale floral installations.</p>

					<p>As Creative Directors, we develop the creative content and direct the creative process. We are distinctive, flexible, considerate and meticulous, and these principles drive the quality of our work. Every detail is bespoke and purposeful - every element is considered.</p>

					<p>We believe in creating emotion-driven work that fits our client's goals and resonates with their audiences.</p>

					<p>DUO creative design studio was established in 2013 in Perth, Western Australia.</p>
				</div>
				
				<div class="menu-contacts">
					<div class="CSScentered">
						<span>donatienmalala@gmail.com</span>
					</div>
					<div class="CSScentered">
						<span>Donatien: (+27) 63 047 8534</span>
						<span>Madam Ella: (+27) 63 047 8534</span>
					</div>
					<div class="CSScentered">
						<span class="u-btn is-icon CSScentered">IG</span>
						<span class="u-btn is-icon CSScentered">FB</span>
					</div>
				</div>
				
				<form class="menu-form">
					<span>Contact Us</span>
					<fieldset>
						<div>
							<span>Name:</span>
							<input type="text" placeholder="Ms Jane Doe" />
						</div><div>
							<span>Email:</span>
							<input type="email" placeholder="janedoe@gmail.com" />
						</div>
						
						<div>
							<span>Message:</span>
							<textarea placeholder="AAA"></textarea>
						</div>
						
						<div>
							<input type="submit" value="Send" />
						</div>
					</fieldset>
				</form>
			</div></div>
			<label for="chbx4menu" class="menu-veil"></label>
			</nav>
		</main>