---
layout: default
---
		<input type="checkbox" id="chbx4menu" name="chbx4menu" />
		<input type="checkbox" id="chbx4results" name="chbx4results" />
		{% for i in (1..3) %}
		<input type="radio" id="rdb4paypalDetails{{ i }}" name="rdb4paypalDetails"{% if forloop.first %} checked{% endif %} />{% endfor %}
		<main><span class="d-background"></span>
			<nav>
			<div class="menu"><div>
				<h3 class="menu-title">About Donatien Malala</h3>
				<label for="chbx4menu" class="u-btn">X</label>
				
				<div class="menu-text">
					<p>"Effective economic research connects data to society by uncovering the hidden structures that shape people’s lives."</p>
					
					<p>Donatien Malala is a renowned economist whose work focuses on understanding and quantifying the parts of the economy that traditional models overlook. His research brings clarity to complex economic systems, turning invisible activity into measurable insight.</p>
					
					<p>His contributions include the development of the DMIE Model (Diophantine Model of Informal Economy), a groundbreaking approach introduced in his research that offers a new way to estimate the informal economy through mathematical structures.</p>

					<p>He is known for being precise, innovative, and deeply thoughtful; qualities that are the strength of his work. In coding the calculator for him, every variable was examined; the DMIE-Model Calculator is built with precision.</p>

					<p>The project combines mathematical rigor with real-world relevance, producing models that are not only analytically strong but practically valuable for policymakers, development institutions, and fellow researchers.</p>
					
					<p>Donatien Malala’s research legacy continues to expand through collaborations with global scholars, policy advisors, and institutions exploring the dynamics of emerging and informal markets.</p>
				</div>
				
				<div class="menu-contacts">
					<div class="CSScentered">
						<span>donatienmalala@gmail.com</span>
					</div>
					<div class="CSScentered">
						<span>Donatien: (+27) 63 047 8534</span>
						<span>Madam Ella: (+27) 63 047 8534</span>
					</div>
					<div class="CSScentered">
						<span class="u-btn is-icon CSScentered">IG</span>
						<span class="u-btn is-icon CSScentered">FB</span>
					</div>
				</div>
				
				<form class="menu-form" action="https://formspree.io/f/mlgwlerl" method="POST">
					<span>Contact Us</span>
					<hgroup class="menu-form_alert"></hgroup>
					<fieldset>
						<div>
							<span>Name:</span>
							<input type="text" name="name" placeholder="Full Name" />
						</div><div>
							<span>Email:</span>
							<input type="email" name="email" placeholder="example@gmail.com" />
						</div>
						
						<div>
							<span>Message:</span>
							<textarea name="message" placeholder="Type Your Message Here"></textarea>
						</div>
						
						<div>
							<input type="text" name="_gotcha" style="display:none">
							<input type="submit" value="Send" />
						</div>
					</fieldset>
				</form>
				
				<footer class="menu-footer">&copy; Copyrights 2025: <a href="https://intobinary.org" class="CSSunderline">Into Binary</a>. All rights reserved.</footer>
			</div></div>
			<label for="chbx4menu" class="menu-veil"></label>
			</nav>

			<header class="header CSSmidWrap">
				<nav>
					<h1>DMIE MODEL CALCULATOR</h1>
					<label for="chbx4menu" class="u-btn">&amalg;</label>
				</nav>
				
				<div>
					<h1>The DMIE Model is an innovative scientific model...</h1>
					<p>... developed by the economics researcher: Donatien Malala. Did you know that you can estimate a country's informal economy with a simple math equation?</p>
				</div>
			</header>
			
			<aside class="compliance CSSmidWrap">
				<div class="compliance-check">
					App Recently Audited: <!--<br />&middot;--><br /> <a>Regulatory Documents</a>
				</div><div class="compliance-check">
					Methodologically Grounded: <br /> <a>Ethical Use Standards</a>
				</div><div class="compliance-check">
					FFERPA & FCOPPA Compliant: <br /> <a href="">Privacy Policy</a>
				</div>
			</aside>
			
			<section class="v4 CSSmidWrap"><form class="calculator js-formCalculator">
					<fieldset class="calculator-data">
						<div class="calculator-data-manual">
							<!--
							<span>Manual Inputs</span>
							-->
							<div class="calculator-data-manual_wrap">

							<div class="js-RDBs-container">
								<label><input type="radio" id="rdb4dataManual1" name="rdb4data" onclick="rdbBtnIsClicked(this)" checked />1</label>
							</div>
							
							<span class="CSSspacer"></span>
							
							<div class="js-manualNav">
								<span class="js-btnAdd" title="Add Additional Country">ADD 1</span>
								<span class="js-btnDelete" title="Clear Form/Unsave Data">CLEAR 1</span>
								<input type="submit" class="js-btnSave" value="SAVE 1" title="Save Country's Data" />
								<br />
								
								<label for="hiddenFile" class="js-btnImport" title="Upload Custom CSV File">UPLOAD DATA</label>
								<span class="js-btnDownload" title="Download as CSV File">DOWNLOAD CSV</span>
								<br /><br />
								<span class="js-btnClearAll" title="Clean All Data">CLEAN FORM</span>

								<input type="file" id="hiddenFile" class="js-inputFile" style="" accept=".csv" />
							</div>
							</div>
						</div>
						<!--
						<div class="calculator-data-presets">
							<span>Data Presets</span>
							<br /><br />
							<label><input type="radio" id="rdb4dataPresetDRC" name="rdb4data" onclick="rdbBtnIsClicked(this)" />DRC</label>
							<label><input type="radio" id="rdb4dataPresetSA" name="rdb4data" onclick="rdbBtnIsClicked(this)" />SA</label>

							<span class="calculator-data-presets-map"></span>
						</div>
						-->
					</fieldset>
					
					<fieldset class="calculator-fieldset">
						<div>
							<label id="py-output">Country:</label>
							<input type="text" id="country" placeholder="Name of Country" required />
						</div><div>
							<label>Year:</label>
							<input type="number" step="any" id="year" placeholder="####" required />
						</div><div>
							<label>WF (Workforce):</label>
							<input type="number" step="any" id="wf" placeholder="########" required />
						</div><div>
							<label>FW (Formal Workers):</label>
							<input type="number" step="any" id="fw" placeholder="########" required />
						</div><div>
							<label>IW (Informal Workers):</label>
							<input type="number" step="any" id="if" placeholder="########" required />
						</div><div>
							<label>Yof (Official GDP):</label>
							<input type="number" step="any" id="yof" placeholder="##########" required />
						</div><div>
							<label>FP (Formal Productivity):</label>
							<input type="number" step="any" id="fp" placeholder="###" required />
						</div><div>
							<label>IP (Informal Productivity):</label>
							<input type="number" step="any" id="ip" placeholder="###" required />
						</div><div>
							<label>OL (Obligatory Levies / Tax Burden):</label>
							<input type="number" step="any" id="ol" placeholder="####" required />
						</div>
					</fieldset>
					
					<footer>
						<label for="chbx4results"><img src="/assets/images/logo_intobinary_full.png" /><!--<img src="/assets/images/logo_intobinary_favicon.png" class="is-small" />--></label>
						<span class="CSSspacer"></span>
						
						<input type="submit" id="js-btnCalculate" class="calculator-nav-button js-btnCalculate" value="CALCULATE" />
					</footer>
					
					<div class="calculator-results">
						<div class="calculator-results-design">
							<nav class="calculator-results-design-nav">
								<span class="js-btnResultsDownload">Download as CSV</span><span class="js-btnResultsClose">X</span>
							</nav>
							<div class="js-here">
								<div class="calculator-results-design-data">
									<hgroup><h4>DRC: </h4><h5>2025</h5></hgroup>
									<div class="calculator-results-design-data-numbers">
										<div class="calculator-results-design-data-numbers-lines">
											<div class="calculator-results-design-data-numbers-lines-div"><span class="calculator-results-design-data-numbers-lines-div-span">Yin: 100</span></div>
											<div class="calculator-results-design-data-numbers-lines-div"><span class="calculator-results-design-data-numbers-lines-div-span">Yt: 100</span></div>
										</div>
										
										<div class="calculator-results-design-data-numbers-pie"><span class="calculator-results-design-data-numbers-pie-span">Yin%:<br />1</span></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form></section>
			
			
			<footer class="paypal CSScentered"><div class="paypal_dock">
				<h5 class="paypal-title">Unlock Full Calculator for $10</h5>

				<div class="paypal-content">
					<p>Pay only $10 for full access of the DMIE Model's Calculator App. <br />Here is what you get:</p>

					<div class="paypal-details"><ol class="paypal-details-list">
						<li class="paypal-details-list-item">
							<label for="rdb4paypalDetails1">(1/3) One-Time Payment, Full Access</label>
							<ul class="paypal-details-sublist">
								<li class="paypal-details-sublist-item">&rarr; Lifetime Access -- no recurring bill, no hidden fees.</li>
								<li class="paypal-details-sublist-item">&rarr; Unlock all calculation features instantly.</li>
								<li class="paypal-details-sublist-item">&rarr; Includes all current and future app updates.</li>
								<li class="paypal-details-sublist-item">&rarr; Use for unlimited datasets and simulations.</li>
							</ul>
						</li>
						<li class="paypal-details-list-item">
							<label for="rdb4paypalDetails2">(2/3) Secured Checkout Powered by PayPal</label>
							<ul class="paypal-details-sublist">
								<li class="paypal-details-sublist-item">&rarr; Refunds available.</li>
								<li class="paypal-details-sublist-item">&rarr; Immediate access after payment confirmation.</li>
								<li class="paypal-details-sublist-item">&rarr; You will receive your "License Key PDF Certificate" by email.</li>
								<li class="paypal-details-sublist-item">&rarr; App compatible with Windows, MacOS, and Web version.</li>
							</ul>
						</li>
						<li class="paypal-details-list-item">
							<label for="rdb4paypalDetails3">(3/3) Access Valid for Personal, or Research Use</label>
							<ul class="paypal-details-sublist">
								<li class="paypal-details-sublist-item">&rarr; Transferable Access option available upon request.</li>
								<li class="paypal-details-sublist-item">&rarr; Academic collaboration or citations are welcome.</li>
								<li class="paypal-details-sublist-item">&rarr; Bulk license discount for research labs or universities.</li>
							</ul>
						</li>
					</ol></div>
				</div>
				
				<div class="paypal-buttons">
					<div class="paypal-buttons-cta_wrap">
						<span>Buy Full Access</span><br />
						<a class="paypal-buttons-cta"><del>Pay on Paypal</del></a>
					</div>
					<span>OR</span>
					<div class="paypal-buttons-cta_wrap">
						<span>Enter License Code</span><br />
						<form class="js-formLicense"><input type="text" placeholder="#### ### ###" />
						<input type="submit" value="&rarr;" /></form>
					</div>
					<span class="CSSspacer"></span>
					<span class="js-btnCancel">Cancel</span>
				</div>
			</div></footer>
			
			<footer class="footer CSSmidWrap">
				&copy; Copyrights 2026: <a href="https://intobinary.org">Into Binary</a>. All rights reversed.
			</footer>
		</main>
		
		
		<script type="text/javascript" src="/assets/scripts/dmie-model-dot-intobinary-dot-org_v4.js"></script>