---
layout: default
---
	<main>
		<div class="wMarquee">
			<h5 class="wMarquee-title"><span>Currently Redifining economic impact...</h5>
			<marquee class="wMarquee-scroll">
				<span class="wMarquee-scroll-span">Estimate the informal economy with precision</span>
				<span class="wMarquee-scroll-span">Based on Diophantine equations and real data</span>
				<span class="wMarquee-scroll-span">Designed for economists, governments, and researchers</span>
				<span class="wMarquee-scroll-span">Work by Donatien Malala. Website by Into Binary.</span>
			</marquee>
		</div>
	</main>
